[DEFAULT]

[cors]

[cors.subdomain]

[database]

backend = sqlalchemy
connection = mysql+pymysql://glance:{{ glancedb_pass }}@newton.local.xyz/glance

[glance_store]

stores = file,http
default_store = file
filesystem_store_datadir = /var/lib/glance/images/

[image_format]

disk_formats = ami,ari,aki,vhd,vhdx,vmdk,raw,qcow2,vdi,iso,root-tar

[keystone_authtoken]

auth_uri = http://newton.local.xyz:5000
auth_url = http://newton.local.xyz:35357
memcached_servers = newton.local.xyz:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{ glance_pass }}

[matchmaker_redis]

[oslo_concurrency]

[oslo_messaging_amqp]

[oslo_messaging_notifications]

[oslo_messaging_rabbit]

[oslo_messaging_zmq]

[oslo_middleware]

[oslo_policy]

[paste_deploy]

flavor = keystone

[profiler]

[store_type_location_strategy]

[task]

[taskflow_executor]
