ADMIN_PASS:{{ admin_pass }}
DEMO_PASS:{{ demo_pass }}
MYSQL_ROOT_PASS:{{ mysql_root_pass }}
CINDER_DBPASS:{{ cinderdb_pass }}
CINDER_PASS:{{ cinder_pass }}
DASH_DBPASS:{{ dashdb_pass }}
DEMO_PASS:{{ demo_pass }}
GLANCE_DBPASS:{{ glancedb_pass }}
GLANCE_PASS:{{ glance_pass }}
KEYSTONE_DBPASS:{{ keystonedb_pass }}
KEYSTONE_PASS:{{ keystone_pass }}
NEUTRON_DBPASS:{{ neutrondb_pass }}
NEUTRON_PASS:{{ neutron_pass }}
NEUTRON_METADATA:{{ neutron_metadata }}
NOVA_DBPASS:{{ novadb_pass }}
NOVA_PASS:{{ nova_pass }}
RABBIT_PASS:{{ rabbit_pass }}
SWIFT_DBPASS:{{ swiftdb_pass }}
SWIFT_PASS:{{ swift_pass }}
HEAT_DBPASS:{{ heatdb_pass }}
HEAT_PASS:{{ heat_pass }}
HEAT_DOMAIN_ADMIN_PASS:{{ heat_domain_admin_pass }}
